{% extends 'main/base.html' %}

{% block title %}Oceny{% endblock %}

{% block content %}
    <div class="grades-container">
        <h1>Oceny</h1>
        <table>
            <tr>
                <th>Przedmiot</th>
                <th>Ocena</th>
            </tr>
            {% for grade in grades %}
            <tr>
                <td>{{ grade.subject.name }}</td>
                <td>{{ grade.grade }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Brak ocen.</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'dashboard' %}" class="back-link">Powrót do dashboardu</a>
    </div>
{% endblock %}
