<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan Zajęć</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Plan zajęć</h1>
<table>
    <tr>
        <th>Przedmiot</th>
    </tr>
    {% for subject in schedule %}
    <tr>
        <td>{{ subject.name }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>Brak przedmiotów w planie zajęć.</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'dashboard' %}">Powrót do dashboardu</a>
</body>
</html>
